
body {
  margin: 0;
  /* justify-content: center; */
  background-color: #f2f2f2;

  /* display: flex;
  flex: 1 1; */
}

/* .homePage {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
  height: 100vh;
  background-color: cadetblue;
} */


/* 
@media only screen and (min-width: 800px) {
img{
    height: 500px;
    padding: 5px;
    align-self: center;
    justify-content: space-between;
}
}
@media only screen and (max-width: 800px) {
  img{
      width: 200px;
      padding: 20px;
      align-self: center;
            justify-self: center;

  }
}  */